html, body {height: 100%;}
body {
    background: url(../img/bg.jpg);
    background-size: cover;
    font-size: 35px;
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 30px 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    position: relative;
}
body::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

#image {
    height: 300px;
    margin-bottom: 50px;

}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

button {
    padding: 10px 20px;
    outline: none;
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Righteous', cursive;
    background-color: white;
    color: #565659;
    border: 4px solid #565659;
}

button:hover {
    color: white;
    background: none;
    transition: 0.5s;
    border: 4px solid white;
    text-shadow: 2px 2px 5px black;
}

input[type="text"] {
    background-color: #ececeb;
    padding: 10px 20px;
    color: #565659;
    border: 4px solid #ececeb;
    margin: 0 20px;
    outline: none;
    font-size: 20px;
    font-family: 'Righteous', cursive;
    margin-bottom: 35px;
}

input[type="text"]:focus {
    border: 4px solid #565659;
}